{{> navbar}}

<h1>Feedback</h1>
<div class="container">
<div class="input-group">
  <span class="input-group-text"><a href="#" id="form-btn">Leave message</a></span>
  <textarea class="form-control" aria-label="With textarea" placeholder="Type here"></textarea>
</div>
</div>