{{> navbar}}

<h2>Hello there!</h2>
<p>
  This is the page dedicted to the English women novels writer Sophie Kinsella.
  Visit the menu to learn more!
</p>
<p>
  Her books are a perfect fit for vacation reading, and if you want to clear
  your head from any serious thoughts and worries.
</p>