{{> navbar}}

<h1>Hello there!</h1>

<div class="container">
  <div class="row">
    <div class="col-6">
<h4>
  This is the page dedicted to the English women novels writer Sophie Kinsella.
  Visit the menu to learn more!
</h4>
</div>
<div class="col align-self-end">
<h5>
  Her books are a perfect fit for vacation reading, and if you want to clear
  your head from any serious thoughts and worries.
</h5>
</div>
</div>
</div>