body {
  color: darkolivegreen;
  background-color: beige;
}

h1 {
  width: 100%;
  margin: auto;
}

nav {
  background-color: brown;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: auto;
}

.card img {
  height: 400px;
  object-fit: cover;
}

a {
  text-decoration: none;
  text-shadow: 4em;
  font-weight: 600;
  color: beige;
}
