body {
  color: darkolivegreen;
  background-color: beige;
}

h1 {
  font-size: 2em;
  margin: 1.5em;
}

nav {
  background-color: brown;
  padding: 0.5em 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: auto;
  margin: 1em;
  flex-wrap: wrap;
}

/* .card {
  height: 15px;
  width: 8px;
  background-color: white;
} */

.card img {
  height: 400px;
  object-fit: cover;
}

a {
  font-size: 1.2em;
  text-decoration: none;
  text-shadow: 4em;
  font-weight: 600;
  color: beige;
}

a:hover {
  color: yellow;
  text-decoration: none;
}

.bio {
  font-size: 1.2em;
}

.pic img {
  width: 100%;
  height: auto;
}
